Makefile
*/Makefile
Makefile.in
*~
*.c
*.o
*.ctree
*.ctree.dep
*.rtree
*.pyc
*/.libs/*
*.log
*.dep
*.def
*.rtg
*.tbl
*.la
*.lo
*.Po
*.m4
.gedit-save*
*.sdf
config
tools/java2py
BUILDTIME_XTC
autom4te.cache/*
java-front.pc
config.status
libtool
java-front.spec
*/.deps/*
*/*.m4
config/config.guess
config/config.sub
*/autom4te.cache/*
configure
ltmain.sh
.svn
